

/* navigation bar */

.mnav{
    padding: 1rem;
    width: 0%;   
}
.gap{
    display: flex;
    gap: 2rem;
    padding: 1rem;
}
/* nav ends */

/*  this is for the very first part*/
.parent{
    background-color:#63c2c5 ;
    height: 100vh;
}

span{
    color: rgb(0, 110, 255);
}
/* for the first image */
.img{
    max-width: 100%;
    margin: 4rem 6rem;
    border: 1px solid ;
    height: 18rem;
    box-shadow: .4rem .4rem rgb(64, 242, 248);
}
/* for all h1's */
.h1{
    margin: 2rem 2rem;
    word-wrap: break-word;
    font-size: 3rem;
}
/* for all texts */
.txt{
    margin: 2rem 2rem;
    font-size: 2rem;
}
/* for the buttons */
.btn{
    margin: 2rem 3rem;
    border: none;
}
.btn:hover{
    background-color: aqua;
    color: black;
}
/* first part ends */

/* second starts */
.wr-cnt{
    padding: 1rem;
    margin: .2rem;
}
.cnt{
    background-color: #63c2c5;
    height: 100vh;
    display: flex;
    justify-content:  center;
    align-items: center;
    word-break: break-all;
    
}
.cnt>p{
    word-break: break-all;
    text-transform: capitalize;
}
.info{
    word-break: break-all;
    padding: 1rem;
}
.img-1{
    height: 2rem;
    border-radius: 50%;
}
.tex{
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}

.card{
     width: 27.6rem;
}
/* gallery part */

